@model TrainerPro.Core.DTOs.RegisterDTO
<h2>Witaj @Model.FirstName, zostałeś zarejestrowany w TrainerPro!</h2>
<h3>Twoje dane do konta to:</h3>
<table style="border:0;">
    <tr><th style="text-align: left; padding: 0 10px 0 10px">Nazwa użytkownika:</th><td style="text-align: left; padding: 0 10px 0 10px">@Model.Username</td></tr>
    <tr><th style="text-align: left; padding: 0 10px 0 10px">Hasło:</th><td style="text-align: left; padding: 0 10px 0 10px">@Model.Password</td></tr>
</table>
